@font-face {
    font-family: 'Roboto Light';
    src: url('fonts/Roboto-Light.ttf');
}

.label {
    -fx-font-family: "Roboto Light";
}

.button {
    -fx-font-family: "Roboto Light";
    -fx-background-color: #132e52;
    -fx-text-fill: white;
}

.text-field {
    -fx-font-family: "Roboto Light";
}

.check-box {
    -fx-font-family: "Roboto Light";
}

.titleLabel {
    -fx-font-size: 24px;
}

.list-view {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 13px;
}